{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 10"]
      }
    }]
  ],
  "plugins": [
    "transform-flow-strip-types",
    ["module-resolver", {
      "alias": {
        "auth0": "@exponent/node-auth0"
      }
    }],
  ],
  "sourceMaps": true,
}
